<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="open-native-settings"
	version="1.5.2">

	<name>Native settings</name>
	<description>Native settings opener for Cordova 4.0</description>
	<license>MIT</license>

	<keywords>cordova,android,ios,settings</keywords>
	<repo>https://github.com/GPeraltP/OpenNativeSettings.git</repo>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<js-module src="www/openNativeSettings.js" name="openNativeSettings">
		<clobbers target="window.plugins.openNativeSettings" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/NativeSettings.java" target-dir="src/com/gperalta/cordova/plugin" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="NativeSettings">
				<param name="android-package" value="com.gperalta.cordova.plugin.NativeSettings" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
		   	<uses-permission android:name="android.permission.ACTION_ACCESSIBILITY_SETTINGS" />
		    	<uses-permission android:name="android.permission.ACTION_ADD_ACCOUNT" />
			<uses-permission android:name="android.permission.ACTION_AIRPLANE_MODE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_APN_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_APPLICATION_DETAILS_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_APPLICATION_DEVELOPMENT_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_APPLICATION_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_IGNORE_BATTERY_OPTIMIZATION_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_BLUETOOTH_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_CAPTIONING_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_CAST_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_DATA_ROAMING_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_DATE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_DEVICE_INFO_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_DISPLAY_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_DREAM_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_HOME_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_INPUT_METHOD_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_INPUT_METHOD_SUBTYPE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_INTERNAL_STORAGE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_LOCALE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_LOCATION_SOURCE_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_MANAGE_ALL_APPLICATIONS_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_MANAGE_APPLICATIONS_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_MEMORY_CARD_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_NETWORK_OPERATOR_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_NFCSHARING_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_NFC_PAYMENT_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_NFC_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_PRINT_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_PRIVACY_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_QUICK_LAUNCH_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_SEARCH_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_SECURITY_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_SHOW_REGULATORY_INFO" />
			<uses-permission android:name="android.permission.ACTION_SOUND_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_SYNC_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_USAGE_ACCESS_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_USER_DICTIONARY_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_VOICE_INPUT_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_WIFI_IP_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_WIFI_SETTINGS" />
			<uses-permission android:name="android.permission.ACTION_WIRELESS_SETTINGS" />
		</config-file>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="NativeSettings">
				<param name="ios-package" value="NativeSettings"/>
			</feature>
		</config-file>

		<header-file src="src/ios/NativeSettings.h" />
		<source-file src="src/ios/NativeSettings.m" />
	</platform>

</plugin>
