<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="open-native-settings"
	version="1.5.2">

	<name>Native settings</name>
	<description>Native settings opener for Cordova 4.0</description>
	<license>MIT</license>

	<keywords>cordova,android,ios,settings</keywords>
	<repo>https://github.com/GPeraltP/OpenNativeSettings.git</repo>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<js-module src="www/openNativeSettings.js" name="openNativeSettings">
		<clobbers target="window.plugins.openNativeSettings" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/NativeSettings.java" target-dir="src/com/gperalta/cordova/plugin" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="NativeSettings">
				<param name="android-package" value="com.gperalta.cordova.plugin.NativeSettings" />
			</feature>
		</config-file>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="NativeSettings">
				<param name="ios-package" value="NativeSettings"/>
			</feature>
		</config-file>

		<header-file src="src/ios/NativeSettings.h" />
		<source-file src="src/ios/NativeSettings.m" />
	</platform>

</plugin>
